<!DOCTYPE html>
<html>
<img src="https://cdn-icons-png.flaticon.com/512/1048/1048953.png" width="120">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    🚗 SwiftConnect
</div>

<div class="container" style="text-align:center;">

    <h1 style="color:#0f9d58;">Smart Vehicle Contact System</h1>

    <p style="font-size:18px; color:#555;">
        Scan QR → Send Message → Solve Problems Instantly 🚀
    </p>

    <br>

    <a href="/register">
        <button style="font-size:16px; padding:12px 20px;">
            Register Your Vehicle
        </button>
    </a>

    <br><br>

    <p style="color:#888;">
        Secure • Private • Easy Communication
    </p>

</div>

</body>
</html>