<!DOCTYPE html>
<html>
<head>
    <title>Sign in - SwiftConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-bg">

<h1 class="bg-text">SWIFT CONNECT</h1>

<div class="google-box">

    <div class="logo">
        <span style="color:#4285F4">G</span>
        <span style="color:#DB4437">o</span>
        <span style="color:#F4B400">o</span>
        <span style="color:#4285F4">g</span>
        <span style="color:#0F9D58">l</span>
        <span style="color:#DB4437">e</span>
    </div>

    <h2>Sign in</h2>
    <p class="sub">to continue to SwiftConnect</p>

    <form method="POST">
        <input type="email" name="email" placeholder="Email or phone" required>

        <a class="link">Forgot email?</a>

        <div class="actions">
            <span>Create account</span>
            <button type="submit">Next</button>
        </div>
    </form>

</div>

</body>
</html>