<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wa-container">

    <!-- SIDEBAR -->
    <div class="wa-sidebar">
        <div class="wa-header">🚗 SwiftConnect</div>
    </div>

    <!-- CHAT -->
    <div class="wa-chat">

        <div class="chat-top">
            👤 {{ visitor_id }}
        </div>

        <div class="messages" id="chat-box"></div>

        <form method="POST" class="input-box">
            <input type="text" name="message" placeholder="Type message..." required>
            <button type="submit">➤</button>
        </form>

    </div>

</div>

<script>
function loadMessages() {
    fetch("/get_messages/{{ user_id }}/{{ visitor_id }}")
    .then(res => res.json())
    .then(data => {
        const chatBox = document.getElementById("chat-box");
        chatBox.innerHTML = "";

        data.messages.forEach(msg => {
            const div = document.createElement("div");

            if (msg[0] === "{{ user_id }}") {
                div.className = "msg right";
                div.innerText = msg[2];
            } else {
                div.className = "msg left";
                div.innerText = msg[2];
            }

            chatBox.appendChild(div);
        });

        chatBox.scrollTop = chatBox.scrollHeight;
    });
}

setInterval(loadMessages, 1000);
loadMessages();
</script>

</body>
</html>