<!DOCTYPE html>
<html>
<head>
    <title>Chats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="whatsapp">

    <!-- LEFT SIDEBAR -->
    <div class="wa-sidebar">

        <div class="wa-header">💬 SwiftConnect</div>

        {% for u in users %}
            <a href="/owner/{{ user_id }}/{{ u[0] }}" style="text-decoration:none;">
                <div class="wa-user">
                    👤 {{ u[0] }}
                    <div class="last-msg">Tap to open chat</div>
                </div>
            </a>
        {% else %}
            <div class="wa-user">No chats yet</div>
        {% endfor %}

    </div>

    <!-- RIGHT EMPTY -->
    <div class="wa-chat">
        <div class="wa-top">Select a chat</div>
    </div>

</div>

</body>
</html>