<!DOCTYPE html>
<html>
<head>
    <title>Owner Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>💬 Chats</h2>

        {% for u in users %}
            <a href="/owner/{{ user_id }}/{{ u[0] }}">
                <div class="user">
                    👤 {{ u[0] }}
                </div>
            </a>
        {% else %}
            <p>No chats yet</p>
        {% endfor %}
    </div>

    <!-- RIGHT -->
    <div class="chat-area">
        <h2>Select a chat</h2>
    </div>

</div>

</body>
</html>