<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-bg">

<h1 class="bg-text">SWIFT CONNECT</h1>

<div class="google-card">

    <h2 class="google-logo">
        <span style="color:#4285F4">G</span>
        <span style="color:#DB4437">o</span>
        <span style="color:#F4B400">o</span>
        <span style="color:#4285F4">g</span>
        <span style="color:#0F9D58">l</span>
        <span style="color:#DB4437">e</span>
    </h2>

    <h3>Enter OTP</h3>
    <p class="sub-text">Check your email for OTP</p>

    <form method="POST" action="/verify">
        <input type="text" name="otp" placeholder="Enter OTP" required>

        <div class="actions">
            <span class="create">Resend</span>
            <button type="submit">Verify</button>
        </div>
    </form>

</div>

</body>
</html>